.tweetContainer{
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-bg);
    padding-right: 10px;
}
.form{
    display: flex;
    flex-direction: column;
}
.teewtInput{
    padding: 20px;
    display: flex;
}
.input{
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
}
.imgInput{
    border: none;
    padding: 10px;
}
.twButton{
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: #fff !important;
    font-weight: 700 !important;
    text-transform: inherit !important;
    border-radius:  30px !important;
    height: 40px !important;
    margin-top: 10px !important;
    width: 80px;
    margin-left: auto !important;
}