.links{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.links:hover{
    background-color: var(--twitter-nav-bg);
    color:var(--twitter-color);
    border-radius: 30px;
    transition: color 0.1s ease-out;
}
.linkActive{
    color: var(--twitter-color);
}
.icon{
    margin: 15px;
}

.h3{
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}
